<table class="table" style="width: 100%;">
    <colgroup>
      <col span="1" style="width: 15%;" />
      <col span="1" style="width: 15%;" />
      <col span="1" style="width: 15%;" />
      <col span="1" style="width: 20%;" />
      <col span="1" style="width: 7%;" />
      <col span="1" style="width: 5%;" />
      <col span="1" style="width: 7%;" />
    </colgroup>
  
    <thead class="thead-dark">
      <tr>

        <th scope="col">
        <span class="d-flex justify-content-center">
              Image
        </span>
          </th>
        <th scope="col">
          <span class="d-flex justify-content-center">
            Name
          </span>
        </th>
        <th scope="col">
          <span class="d-flex justify-content-center">
            Mobile Number
          </span>
        </th>
        <th scope="col">
          <span class="d-flex justify-content-center">
            Address
          </span>
        </th>
        <th scope="col">
          <span class="d-flex justify-content-center">
            Age
          </span>
        </th>
        <th scope="col">
          <span class="d-flex justify-content-center">
            Status
          </span>
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>

        <td>
            <span class="d-flex justify-content-center text-align-center content-text-size">
                <img
                class="upload-img-center rounded card-img-top"
                src="https://i.pinimg.com/originals/6c/9d/50/6c9d506df70599b86d0bb6821dbae3c1.jpg"
                width="150"
                height="150"
              />
              
            </span>
          </td>
        <td>
          <span class="d-flex justify-content-center text-align-center content-text-size">
            José Protacio Rizal Mercado y Alonso Realonda
            
          </span>
        </td>
        <td>
          <span class="d-flex justify-content-center text-align-center content-text-size">
            09162756852
          </span>
        </td>
        <td>
          <span class="d-flex justify-content-center text-align-center content-text-size">
            Blk 42 Lt 6 Dreamland Subdivision, Hagonoy, Taguig City
          </span>
        </td>
        <td>
          <span class="d-flex justify-content-center text-align-center content-text-size">
            25
          </span>
        </td>
        <td>
          <span class="d-flex justify-content-center text-align-center content-text-size">
            Employed
          </span>
        </td>
        <td>

          <div class="d-flex justify-content-center">
            <div class="row">

                <div class="col-md-12">
                  <button
                  class="btn btn-success"
                  style="margin: 5px; cursor: pointer;"
                >
                  Transaction
                </button>
                </div>
            </div>

        </div>

        </td>
      </tr>
    </tbody>
  </table>
