<table class="table" style="width: 100%;">
    <colgroup>
      <col span="1" style="width: 15%;" />
      <col span="1" style="width: 15%;" />
      <col span="1" style="width: 15%;" />
      <col span="1" style="width: 20%;" />
      <col span="1" style="width: 7%;" />
      <col span="1" style="width: 5%;" />
      <col span="1" style="width: 7%;" />
    </colgroup>
  
    <thead class="thead-dark">
      <tr>

        <th scope="col">
        <span class="d-flex justify-content-center">
              Image
        </span>
          </th>
        <th scope="col">
          <span class="d-flex justify-content-center">
            Name
          </span>
        </th>
        <th scope="col">
          <span class="d-flex justify-content-center">
            Mobile Number
          </span>
        </th>
        <th scope="col">
          <span class="d-flex justify-content-center">
            Address
          </span>
        </th>
        <th scope="col">
          <span class="d-flex justify-content-center">
            Age
          </span>
        </th>
        <th scope="col">
          <span class="d-flex justify-content-center">
            Status
          </span>
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let members2 of members2Sorting">

        <td>
            <span class="d-flex justify-content-center text-align-center content-text-size">
                <img
                class="upload-img-center rounded card-img-top background-img"
                [src]="members2.members2MemberImage"
                width="150"
                height="150"
                style = "cursor: pointer;"
                data-toggle="modal" data-target="#uploadImageModal"
                (click) = "members2ImageName(members2.members2FirstName, members2.members2MiddleInitial, members2.members2LastName)"
                (click) = "getImageMembers2InfoID(members2.members2InfoID)"
              />
              
            </span>
          </td>
        <td>
          <span class="d-flex justify-content-center text-align-center content-text-size">
            {{members2.members2FirstName}}
            {{members2.members2MiddleInitial}}.
            {{members2.members2LastName}}
            
          </span>
        </td>
        <td>
          <span class="d-flex justify-content-center text-align-center content-text-size">
            {{members2.members2MobileNumber}}
          </span>
        </td>
        <td>
          <span class="d-flex justify-content-center text-align-center content-text-size">
            {{members2.members2CurrentAddress}}
          </span>
        </td>
        <td>
          <span class="d-flex justify-content-center text-align-center content-text-size">
            {{members2.members2Age}}
          </span>
        </td>
        <td>
          <span class="d-flex justify-content-center text-align-center content-text-size">
            {{members2.members2Status}}
          </span>
        </td>
        <td>

          <div class="d-flex justify-content-center">
            <div class="row">

                <div class="col-md-6">
                  <button
                  class="btn btn-warning"
                  style="margin: 5px; cursor: pointer;"
                  title = "View"
                  data-toggle="modal"
                  data-target="#updateViewIconModal"
                  (click) = "populateMembers2InformationForm(members2.members2InfoData)"
                >
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg>
                </button>
                </div>
            </div>
            <div class="row">

              <div class="col-md-6">
                <button
                class="btn btn-primary"
                style="margin: 5px; cursor: pointer;"
                title = "Update"
                data-toggle="modal"
                data-target="#updateViewIconModal"
                (click) = "populateMembers2InformationForm(members2.members2InfoData)"
              >
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
              </button>
              </div>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <div class="row">

              <div class="col-md-6">
                <button
                class="btn btn-success"
                style="margin: 5px; cursor: pointer;"
                title = "Transaction"
                routerLink="/member-information"
              >
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-basket-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 0 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 0 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 0 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 0 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 0 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
              </svg>
              </button>
              </div>
          </div>

          <div class="row">

            <div class="col-md-6">
              <button
              class="btn btn-danger"
              style="margin: 5px; cursor: pointer;"
              title = "Deactivate"
              data-toggle="modal" data-target="#deactivateIconModal"
              (click) = "getDeactivateMembers2InfoID(members2.members2InfoID)"
            >
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
            </svg>
            </button>
            </div>
        </div>

      </div>

        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal DEACTIVATE-->
<div class="modal fade" id="deactivateIconModal" tabindex="-1" role="dialog" aria-labelledby="deactivateIconModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure that the member wants to deactivate?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
        (click) = "members2DeactivateAction(false)"
        >Cancel</button>
        <button type="button" class="btn btn-primary"
          (click) = "members2DeactivateAction(true)"
        >Yes</button>
      </div>
    </div>
  </div>
</div>


  <!-- Modal VIEW UPDATE-->
<div
class="modal fade"
id="updateViewIconModal"
tabindex="-1"
role="dialog"
aria-labelledby="updateViewIconModalTitle"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">
        Member Information Form
      </h5>
    </div>
    <div class="modal-body">
      <app-members2-form></app-members2-form>
    </div>
    <div class="modal-footer">
      <button
        type="submit"
        id="onAddMember"
        class="btn btn-primary"
      >
        Update
      </button>
      
      <button type="button" class="btn btn-secondary" data-dismiss="modal">
        Close
      </button>
    </div>
  </div>
</div>
</div>

<!-- Modal UPLOAD IMAGE-->
<div class="modal fade" id="uploadImageModal" tabindex="-1" role="dialog" aria-labelledby="uploadImageModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <img
        class="upload-img-center rounded upload-card-img-top"
        [src] = "this.members2Service.newUploadImageUrl"
        alt = "Hello"
      />
      <br />

      <label class="btn btn-primary btn-block">
        Upload Image
        <input
          type="file"
          (change)="this.members2Service.uploadImage($event)"
          accept=".png,.jpg"
          hidden
        />
      </label>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"
        (click) = "this.members2Service.saveAddedBook()"
        >Save changes</button>
      </div>
    </div>
  </div>
</div>

