<table class="table" style="width: 100%">
    <colgroup>
       <col span="1" style="width: 25%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 10%;">
    </colgroup>

    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">Address</th>
        <th scope="col">Age</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Carmen Joy Palsario</th>
        <td>09162756852</td>
        <td>Taguig, Metro Manila</td>
        <td>15</td>
        <td>Student</td>
        <td>
            <button class="btn-sm btn-outline-info" style="margin:5px">Edit</button>
            <button class="btn-sm btn-outline-danger" style="margin:5px">Delete</button>
          </td>
      </tr>
      <tr>
        <th scope="row">Maria Sophia Emmett Barracuda</th>
        <td>09162756852</td>
        <td>Quezon City, Metro Manila</td>
        <td>25</td>
        <td>Employee</td>
        <td>
            <button class="btn-sm btn-outline-info" style="margin:5px">Edit</button>
            <button class="btn-sm btn-outline-danger" style="margin:5px">Delete</button>
          </td>
      </tr>
      <tr>
        <th scope="row">José Protacio Rizal Mercado y Alonso Realonda</th>
        <td>09214523541</td>
        <td>Calamba, Laguna</td>
        <td>39</td>
        <td>Tambay</td>
        <td>
            <button class="btn-sm btn-outline-info" style="margin:5px">Edit</button>
            <button class="btn-sm btn-outline-danger" style="margin:5px">Delete</button>
          </td>
      </tr>
    </tbody>
  </table>
