<table class="table" style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
    </colgroup>

    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">ISBN</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">The Law of Human Nature</th>
        <td>Robert Greene</td>
        <td>9780143111375</td>
        <td>Available</td>
      </tr>
      <tr>
        <th scope="row">Where the Crawdads Sing</th>
        <td>Delia Owens </td>
        <td>9780143113465</td>
        <td>Checked Out</td>
      </tr>
      <tr>
        <th scope="row">Normal People: A Novel</th>
        <td>Sally Rooney</td>
        <td>9783219111375</td>
        <td>Not Available</td>
      </tr>
      <tr>
        <th scope="row">Begin Again: James Baldwin's America and Its Urgent Lessons for Our Own</th>
        <td>Eddie S. Glaude Jr.</td>
        <td>9780143119375</td>
        <td>On Hold</td>
      </tr>

    </tbody>
  </table>

