<div style="padding: 50px;">
  <div class="d-flex justify-content-between" style="padding-bottom: 10px;">
    <button
      type="button"
      class="btn btn-primary btn-lg"
      data-toggle="modal"
      data-target="#addNewMemberModal"
    >
      Add New Member
    </button>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

  <app-member-list></app-member-list>
</div>

<div
  class="modal fade"
  id="addNewMemberModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addNewMemberModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Member Information Form
        </h5>
      </div>
      <div class="modal-body">
        <app-member-forms></app-member-forms>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          id="onAddMember"
          class="btn btn-primary"
          [attr.data-dismiss]="closeModalAfterSubmit"
          (click)="onAddMemberSubmit()"
        >
          Add
        </button>
        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
