<table class="table" style="width: 100%;">
  <colgroup>
    <col span="1" style="width: 14%;" />
    <col span="1" style="width: 24%;" />
    <col span="1" style="width: 17%;" />
    <col span="1" style="width: 14%;" />
    <col span="1" style="width: 8%;" />
    <col span="1" style="width: 7%;" />
    <col span="1" style="width: 14%;" />
  </colgroup>

  <thead class="thead-dark">
    <tr>
      <th scope="col" sortable="inputImageURL">
        <span class="d-flex justify-content-center">
          Book Image
        </span>
      </th>
      <th scope="col" sortable="inputTitle" >
        <span class="d-flex justify-content-center">
          Title
        </span>
      </th>
      <th scope="col" sortable="inputAuthor">
        <span class="d-flex justify-content-center">
          Author
        </span>
      </th>
      <th scope="col" sortable="inputISBN">
        <span class="d-flex justify-content-center">
          ISBN
        </span>
      </th>
      <th scope="col" sortable="inputType">
        <span class="d-flex justify-content-center">
          Type
        </span>
      </th>
      <th scope="col" sortable="inputYearPublished">
        <span class="d-flex justify-content-center text-align-center">
          Year Published
        </span>
      </th>
      <th scope="col" sortable="inputStatus">
        <span class="d-flex justify-content-center">
          Status
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="pointer"
      data-toggle="modal"
      data-target="#editBookInformationModal"
      *ngFor="let bookInfo of bookInformations"
      (click)="
        populateBookInformationForm(
          bookInfo.payload.doc.data(),
          bookInfo.payload.doc.id
        )
      "
      (click)="updateListIsClicked()"
    >
    <td>
      <img
      class="upload-img-center rounded card-img-top"
      src="{{bookInfo.payload.doc.data().inputImageURL}}"
      width="150"
      height="150"
      
    />
      </td>
      <td>
        <span class="d-flex justify-content-center text-align-center content-text-size">
          {{ bookInfo.payload.doc.data().inputTitle }}
        </span>
      </td>
      <td>
        <span class="d-flex justify-content-center text-align-center content-text-size">
          {{ bookInfo.payload.doc.data().inputAuthor }}
        </span>
      </td>
      <td>
        <span class="d-flex justify-content-center text-align-center content-text-size">
          {{ bookInfo.payload.doc.data().inputISBN }}
        </span>
      </td>
      <td>
        <span class="d-flex justify-content-center text-align-center content-text-size">
          {{ bookInfo.payload.doc.data().inputType }}
        </span>
      </td>
      <td>
        <span class="d-flex justify-content-center text-align-center content-text-size">
          {{ bookInfo.payload.doc.data().inputYearPublished }}
        </span>
      </td>
      <td>
        <span class="d-flex justify-content-center text-align-center content-text-size">
          {{ bookInfo.payload.doc.data().inputStatus }}
        </span>
      </td>
    </tr>
  </tbody>
</table>

<div
  class="modal fade"
  id="editBookInformationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editBookInformationModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Edit Book Information
        </h5>

      </div>
      <div class="modal-body">
        <app-book-forms></app-book-forms>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="updateBookInformation()"
          [attr.data-dismiss] = "updateBookButton"
        >
          Update
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
        (click) = "closeButtonClicked()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

