<div style="padding: 50px;">
  <div class="d-flex justify-content-between" style="padding-bottom: 10px;">
    <button
      type="button"
      class="btn btn-primary btn-lg"
      data-toggle="modal"
      data-target="#addBookInformationModal"
      (click) = "addButtonIsClicked()"
    >
      Add Book
    </button>

  </div>

  <app-book-list></app-book-list>
</div>

<div
  class="modal fade"
  id="addBookInformationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addBookInformationModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Book Information Form
        </h5>
      </div>
      <div class="modal-body">
        <app-book-forms></app-book-forms>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          [attr.data-dismiss]="addBookModal"
          (click)="onAddBook()"
        >
          Save
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
